.header {
    background-color: rgb(189, 218, 247);
    
    padding: 10px 0px;
}

nav a {
    text-decoration: none;
    margin: 0px 10px;
    color: black;
    font-weight: bold;

}

nav a:hover{
    color: orange;
}
nav .active{
    color: orange;
}